<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harcèlement2Rue</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
  <main class="h-[100vh]">
	@!navbar()
                      <!-- Header -->

<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12" style="background-image: url('https://svgur.com/s/phV'); background-repeat: no-repeat;   background-size: 100%;">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto ">
    <div class="relative px-4 py-10 bg-white sm:rounded-3xl sm:p-20 bg-clip-padding bg-opacity-60 border border-gray-300" style="backdrop-filter: blur(20px);">
      <div class="max-w-md mx-auto">
        <div>
          <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-purple-500">Connexion</h2>
          <p class="mt-2 text-center text-sm text-black">
            Ou
            <a href="/auth/register" class="font-medium text-purple-400 hover:text-purple-500 duration-200"> je n'ai pas de compte </a>
          </p>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <form class="mt-8 space-y-6" action="{{ route('login') }}" method="POST">
              <div class="rounded-md shadow-sm -space-y-px">       
                      @if(flashMessages.has('notification'))
                      @!component('components/actionbar', {
                         type: 'error',
                         text: flashMessages.get('notification'),
                       })
                     @endif               
                     <div class="mb-5">
                      <label for="email" class="block text-sm font-medium text-purple-500">Email</label>
                      <div class="relative mt-1 rounded-md">
                        <input type="email" name="email" class="block w-full rounded-full border-gray-200 pr-12 focus:ring-purple-500 focus:ring-offset-purple-300 sm:text-sm">
                      </div>
                      @if(flashMessages.has('errors.email'))
                      <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.email') }}</h1>
                     @endif 
                    </div>
                      <div class="mt-5">
                        <label for="price" class="block text-sm font-medium text-purple-500">Mot de passe</label>
                        <div class="relative mt-1 rounded-full">
                          <input type="password" name="password" class="block w-full rounded-full border-gray-200 pr-12 focus:ring-purple-500 focus:ring-offset-purple-300 sm:text-sm">
                        </div>
                        @if(flashMessages.has('errors.password'))
                        <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.password') }}</h1>
                       @endif 
                      </div>
                    </div>
        
                      <button id="login-button" data-callback="onSubmit" data-sitekey="6Le_gYQiAAAAAFuNVAqShsTnDGOskGgmqW3QL6kx" class="g-recaptcha duration-200 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-full text-white bg-purple-700 hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-700">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                          <!-- Heroicon name: solid/lock-closed -->
                          <svg width="24" height="24" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 10.5V9.5C8 8.96957 7.78929 8.46086 7.41421 8.08579C7.03914 7.71071 6.53043 7.5 6 7.5H2.5C1.96957 7.5 1.46086 7.71071 1.08579 8.08579C0.710714 8.46086 0.5 8.96957 0.5 9.5V10.5" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.25 5.5C5.35457 5.5 6.25 4.60457 6.25 3.5C6.25 2.39543 5.35457 1.5 4.25 1.5C3.14543 1.5 2.25 2.39543 2.25 3.5C2.25 4.60457 3.14543 5.5 4.25 5.5Z" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.5 5.5L9.5 6.5L11.5 4.5" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>      
                        </span>
                        Connexion
                      </button>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </main>
  </body>
  <script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>
</html>
