<!DOCTYPE html>
<!--

              ,,,         ,,,
          ;"   ^;     ;'   ",
          ;    s$$$$$$$s     ;
          ,  ss$$$$$$$$$$s  ,'
          ;s$$$$$$$$$$$$$$$
          $$$$$$$$$$$$$$$$$$
         $$$$P""Y$$$Y""W$$$$$
         $$$$  p"$$$"q  $$$$$
         $$$$  .$$$$$.  $$$$
          $$$%$%$$$$$$$$$$
            "Y$$$"*"$$$Y"  by
               "$b.$$"    Panda_Guerrier


-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Le site H2R ou Harcèlement 2 rue, permet d'aider les jeunes femmes / filles victiment d'harcèlement (par le biais de numéros vert). Se site permet aussi d'avoir plus d'information de comment réagir, les définitions, réponses aux questions...">
  <meta name="keywords"
    content="h2r, harcèlement, harcelement, harselement, H2R, harcèlement de rue, harcelement de rue, harcèlement 2 rue, harcelement 2 rue, harcelements">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <title>Harcèlement de Rue</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="">
  <main class="h-[100vh]">
    @!navbar()
    <video id="background-video" autoplay loop muted class="fixed mt-5">
      <source src="/videos/background.mp4" type="video/mp4">
    </video>
    <div class="flex items-center justify-center sm:items-stretch sm:justify-center h-3/4">
      <div class="flex w-full min-h-full items-center justify-center py-12 px-4 z-30 2xl:ml-52 lg:ml-32">
        <div class="w-full space-y-4 z-30 pt-24 rounded-md flex-row justify-end items-end">
          <div class="ml-3 space-y-4">
            <h1 class="text-5xl 2xl:text-7xl text-white">Harcèlement de rue</h1>
            <p class="text-xl md:text-3xl text-white">Osez <span class="typed-text text-purple-500"></span></p>
          </div>
          <div class="mt-5 left-0 w-1/4 flex items-start justify-start space-x-5">
            <a href="#"
              class="text-purple-500 hover:bg-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-300 duration-200 px-4 py-3 rounded-full text-sm font-medium">Vidéos</a>
            <a href="#"
              class="bg-purple-500 text-white hover:bg-purple-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-300 duration-200 px-4 py-3 rounded-full text-sm font-medium">Aides</a>
          </div>
        </div>
        <div class="hidden w-full lg:block flex-row items-center justify-center ml-96">
          @!component('svg/logoGrand', {
          classe: 'mt-32'
          })
        </div>
      </div>
    </div>
    <div class="relative flex items-center justify-center pt-5 bg-white min-h-max w-full">
        @!component('svg/banner')
        <div class="absolute w-full h-full">
          <div class="flex-col flex items-center md:space-y-5 mt-2">
            <p class="text-lg md:text-5xl text-gray-700">Quelques bases sur <span class="text-purple-600">l’harcèlements de rue</span></p>
            <p class="text-xs md:text-lg text-gray-500 italic">Lisez nos {{ posts.length }} posts pour en découvrir plus</p>
            <div class="w-full h-full">
            <div class="mx-auto border-md w-full lg:ml-20 md:ml-10 ml-10 overflow-y-hidden overflow-x-hidden bg-red-800"> 
              <div class="overflow-x-scroll flex overflow-y-hidden space-x-5 scrollbar">
                  <div class="flex flex-col m-auto mb-5 ">
                          <div class="flex overflow-x-hidden">
                            <div class="flex flex-nowrap overflow-hidden">
                              @each(post in posts)
                                <div class="inline-block px-3 bg-red-600">
                                  <div class="w-80 h-full my-5 max-w-xs p-5 flex flex-col items-center overflow-hidden rounded-lg shadow-md bg-red-500 hover:shadow-xl transition-shadow duration-300 ease-in-out border">
                                      <h1 class="text-xl text-purple-500">{{ post.title }}</h1>
                                      <div class="h-full w-5/6 mt-4">
                                        <span class="relative text-clip max-h-max">{{{ post.description }}}</span>
                                        <p>...</p>
                                      </div>
                                      <div class="flex items-end justify-center">
                                        <a href="/posts/{{ post.id }}" class="shadow-md text-purple-500 hover:bg-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-300 duration-200 px-3 py-2 rounded-full text-sm font-medium">Continuer à lire</a>
                                      </div>
                                  </div>
                                </div>
                              @endeach
                            </div>
                          </div>
                    </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    <div class="relative flex-row items-center justify-center pt-5 bg-purple-400 min-h-max w-full pb-10 mt-10">
      <div class="flex-col flex items-center justify-center space-y-2">
            <p class="text-lg md:text-5xl text-white">Pourquoi attendre avant d'agir ?</p>
            <p class="text-xs md:text-lg text-gray-300 italic">Voici quelques témoignages pour différencier de l’harcèlement de rue</p>
            <h1 class="absolute text-9xl text-white mb-5 max-w-min text-ellipsis">TÉMOIGNAGES</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mx-auto mb-96 place-items-stretch"> 
            @each(temoignage in temoignages)
              @!component('components/form/modalTemoignage', {
                  title: temoignage.title,
                  content: temoignage.text,
                  type: "témoignage"
              })
            @endeach
            </div>
      </div>
    </div>
    <div class="relative flex-row items-center justify-center pt-5  min-h-max w-full pb-10">
      <div class="flex-col flex items-center justify-center space-y-5">
            <p class="text-5xl text-purple-600">Définitions</p>
            <p class="text-lg text-white italic">Pour mieux comprendre l'harcèlement de rue</p>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 mx-auto mb-96 place-items-stretch"> 
            @each(definition in definitions)
              @!component('components/form/modalTemoignage', {
                  title: definition.title,
                  content: definition.text,
                  type: "définition"
              })
            @endeach
            </div>
      </div>
    </div>
  </main>
</body>
<script>
const typedTextSpan = document.querySelector(".typed-text");
const cursorSpan = document.querySelector(".cursor");

const textArray = ["dénoncer.", "aider.", "intervenir.", "porter plainte.", "demander de l'aide.", "signaler."];
const typingDelay = 200;
const erasingDelay = 100;
const newTextDelay = 2000; // Delay between current and next text
let textArrayIndex = 0;
let charIndex = 0;

function type() {
  if (charIndex < textArray[textArrayIndex].length) {
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  } 
  else {
  	setTimeout(erase, newTextDelay);
  }
}

function erase() {
	if (charIndex > 0) {
    typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
    charIndex--;
    setTimeout(erase, erasingDelay);
  } 
  else {
    textArrayIndex++;
    if(textArrayIndex>=textArray.length) textArrayIndex=0;
    setTimeout(type, typingDelay + 1100);
  }
}

document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
  if(textArray.length) setTimeout(type, newTextDelay + 250);
});
</script>

</html>