@layout('layouts/dashboard')

@set('user', auth.user)
@set('route', 'Dashboard')

@section('body')
<div class="flex-row min-w-full min-h-screen text-white p-16 md:flex space-x-8">
    teegergerger
</div>


@endsection