@layout('layouts/dashboard')

@set('user', auth.user)
@set('emplacement', 'Dashboard')

@section('body')
    <div class="flex-col min-w-full min-h-screen text-black p-16 md:flex">
        <h1 class="text-xl text-gray-600">Bienvenue sur le dashboard pour gérer ce magnifique site, choisissez ce que vous
            voulez faire avec la colonne à gauche</h1>

        <p class="italic text-gray-500">J'avais la flemme de faire un jolie truc ici donc bon</p>
    </div>
@endsection