<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harcèlement 2 rue</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    <main class="">
      @!component('components/navbar')

      <div class="index-20">
        <div class="py-32 mx-auto max-w-7xl px-5 sm:px-6 lg:px-8 space-y-20">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
            <div class="col-span-1 mb-5">
              <div class="lg:sticky space-y-10 bg-white border border-gray-200 p-5 rounded-md shadow-lg divide-y divide-gray-200 delay-300 reveal">
                <a href="/" class="flex-row flex space-x-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                    Retour à l'accueil
                </a>  
              </div>
            </div>
            <div class="order-0 lg:col-span-2 lg:flex flex-col justify-center border border-slate-200 rounded-md p-5 reveal">
              <h1 class="text-5xl font-bold">{{{ post.title }}}</h1>
              <div class="mt-10 col-span-1 lg:col-span-2 article-container delay-300">{{{ post.content }}}</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
