<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Mineschool</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="">
    <main class="overflow-hidden">

      <div>
        @if(flashMessages.has("success"))
          @!component('components/actionbar', { type: 'success', text: flashMessages.get("success") })
          @endif
      </div>

      <form class="flex flex-col items-center justify-center h-screen" action="{{ route('videos.store') }}" method="POST" enctype="multipart/form-data">
        <div>
          <label for="price" class="block text-sm font-medium text-gray-700">Titre</label>
          <div class="relative mt-1 rounded-md shadow-sm">
            <input type="text" name="title" class="block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          </div>
          @if(flashMessages.has('errors.title'))
          <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.title') }}</h1>
         @endif 
        </div>


        <div class="mt-5">
          <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Description</label>
            <div class="relative mt-1 rounded-md shadow-sm">
              <input type="text" name="description" class="block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            @if(flashMessages.has('errors.description'))
            <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.description') }}</h1>
          @endif  
          </div>
        </div>

        <div class="mt-5">
          <div>
            <label for="price" class="block text-sm font-medium text-gray-700">Tags</label>
            <div class="relative mt-1 rounded-md shadow-sm">
              <input type="text" name="tags" class="block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>
            @if(flashMessages.has('errors.tags'))
            <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.tags') }}</h1>
          @endif  
          </div>
        </div>
        
        <div>
          <input type="file" name="video" id="video" accept="video/mp4" class="block w-full rounded-md border-gray-300 pl-7 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
          @if(flashMessages.has('errors.video'))
            <h1 class="text-red-500 text-sm">{{ flashMessages.get('errors.video') }}</h1>
          @endif          
        </div>

        <button type="submit" class="bg-blue-500 text-white p-2 rounded">Submit</button>
      </form>
</html>
