<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <title>Profile • {{ user.username }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
<body class="h-full w-full bg-white">
    <main class="h-full w-full bg-white">

        <!--
Change class "fixed" to "sticky" in "navbar" (l. 33) so the navbar doesn't hide any of your page content!
-->

        <style>
            ul.breadcrumb li+li::before {
                content: "\276F";
                padding-left: 8px;
                padding-right: 4px;
                color: inherit;
            }

            ul.breadcrumb li span {
                opacity: 60%;
            }

            #sidebar {
                -webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
                transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
            }

            #sidebar.show {
                transform: translateX(0);
            }
        </style>


        <!-- Navbar start -->
        <nav id="navbar" class="fixed top-0 z-40 flex w-full flex-row bg-purple-500 px-4 justify-between">
            <ul class="breadcrumb flex-row items-center py-4 text-lg text-white">
                <li class="inline">
                    <a href="/">Harcèlement2Rue</a>
                </li>
                <li class="inline">
                    <span>{{ emplacement }}</span>
                </li>
            </ul>
            <button id="btnSidebarToggler" type="button" class="sm:hidden py-4 text-2xl text-white hover:text-gray-200">
                <svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="hidden h-8 w-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-8 w-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </nav>
        <!-- Navbar end -->

        <!-- Sidebar start-->
        <div id="containerSidebar" class="z-40">
            <div class="navbar-menu relative z-40">
                <nav id="sidebar"
                    class="fixed left-0 bottom-0 flex w-3/4 -translate-x-full flex-col overflow-y-auto bg-purple-500 pt-6 pb-8 sm:max-w-xs lg:w-80">
                    <div class="m-2 flex items-center">
                    </div>
                    <!-- one category / navigation group -->
                    <div class="px-4 pb-6">
                        <h3 class="mb-2 text-xs font-medium uppercase text-gray-300">
                            Harcèlement2Rue
                        </h3>
                        <ul class="mb-8 text-sm font-medium space-y-5">
                            <li>
                                <a class="active flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-purple-300 duration-200"
                                    href="{{ route('dashboard.admin.def.create') }}">
                                    <span class="select-none">Ajouter une définitions</span>
                                </a>
                            </li>
                            <li>
                                <a class="active flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-purple-300 duration-200"
                                    href="#">
                                    <span class="select-none">Utilisateurs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- navigation group end-->
                </nav>

            </div>
            
            <div class="mx-auto lg:ml-80 p-5 bg-white">
                    @!section('body')
            </div>
        </div>
        <!-- Sidebar end -->



        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
        const navbar = document.getElementById("navbar");
        const sidebar = document.getElementById("sidebar");
        const btnSidebarToggler = document.getElementById("btnSidebarToggler");
        const navClosed = document.getElementById("navClosed");
        const navOpen = document.getElementById("navOpen");
        sidebar.classList.toggle("show");
        // get screen size
        const width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        if (width < 768) {
            sidebar.classList.toggle("show");
            navClosed.classList.toggle("hidden");
            navOpen.classList.toggle("hidden");
        }

        btnSidebarToggler.addEventListener("click", (e) => {
            e.preventDefault();
            sidebar.classList.toggle("show");
            navClosed.classList.toggle("hidden");
            navOpen.classList.toggle("hidden");
        });

        sidebar.style.top = parseInt(navbar.clientHeight) - 1 + "px";
    });
        </script>


    </main>
</body>

</html>